h3 {
  text-align: center;
  padding: 1em 0;
}

.error {
  color: tomato;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}
input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

button {
  display: block;
  margin: 1em auto;
}
